<!-- Top menu -->
<nav class="navbar navbar-landing navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag('merlotsart_logo_white.png', alt: 'Merlots Art', class: 'merlots-logo merlots-logo-white')%>
        <%= image_tag('merlotsart_logo_color.png', alt: 'Merlots Art', class: 'merlots-logo merlots-logo-color hide-me')%>
      <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-navbar-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to('Become a Licensee', new_licensee_application_path) %></li>
        <li><%= link_to('Classes', experiences_path(month: Date.today.month))  %></li>
        <li><%= link_to('Private Events', new_private_event_path)  %></li>
        <li><%= link_to('FAQ', pages_path(page: 'faq'))  %></li>
        <li><%= link_to('Contact', pages_path(page: 'contact'))  %></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Top content -->
<div class="top-content">
  <div class="inner-bg">
    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text bg-black-trans">
          <h1 class="wow fadeInUp"><strong>Introducing</strong> Custom Wall Art Services</h1>
          <div class="description wow fadeInUp" data-wow-delay=".3s">
            <p>
            Can't find the perfect wall art for your room?
            Let us create wall art to fit your needs. Starting at $59
            </p>

            <a class="btn btn-link-1 scroll-link" href="#start-project-form">LAUNCH YOUR PROJECT</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- How it Works -->
<div class="features-container section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 features section-description wow fadeIn">
        <h2>How it Works</h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 features-box wow fadeInUp">
        <h3>Project Kick-Off</h3>
        <p>
        Complete a short form to give us the initial details of your space
        and desired wall art style. You can choose our virtual service or
        schedule an appointment at our Washington, DC studio for a one-on-one
        design consultation with a Merlot's Art artist.
        </p>
      </div>
      <div class="col-sm-4 features-box wow fadeInDown">
        <h3>Concept Phase</h3>
        <p>
        Either at our Washington, DC studio or virtually, a Merlot's Art artist
        will work with you to get more details about color selection. At that
        time, you can send photos of your space and any photo inspiration.
        </p>
      </div>
      <div class="col-sm-4 features-box wow fadeInUp">
        <h3>Design & Delivery</h3>
        <p>
        You pay 50% up front and  we will begin the design process. We will
        share a photo of the finished art for you to approve. Once you pay the
        remaining 50%, we ship your custom art directly to you!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 features-box wow fadeInUp">
        <%= image_tag "lp_step1.jpg", alt: "Project Kick-off", class: "img-responsive" %>
      </div>
      <div class="col-sm-4 features-box wow fadeInUp">
        <%= image_tag "lp_step2_v2.jpg", alt: "Project Kick-off", class: "img-responsive" %>
      </div>
      <div class="col-sm-4 features-box wow fadeInUp">
        <%= image_tag "lp_step3.jpg", alt: "Project Kick-off", class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>

<!-- Pricing -->
<div class="more-features-container section-container-p-b-0 section-container-gray-bg">
  <div class="row">
    <div class="col-sm-12 features section-description wow fadeIn">
      <h2>Pricing</h2>
      <div class="divider-1 wow fadeInUp"><span></span></div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-6 more-features-2-box wow fadeInLeft">
      <%= image_tag "lp_11x14_example_2.jpg", :title => "11x14" %>
    </div>
    <div class="col-sm-6 more-features-2-box more-features-2-box-right p-30 wow fadeInUp">
      <h2>$49 - 11x14" canvas art<br />3 canvas set for $99</h2>
      <h3>
        This size is perfect for small spaces or to add final touches to a
        gallery wall. Abstract style only.
      </h3>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-6 more-features-2-box more-features-2-box-right p-30 wow fadeInUp">
      <h2>$79 - 16x20" canvas art<br />2 canvas set for $129</h2>
      <h3>
        This size is good for all spaces and can be used to build a gallery
        wall. This size is also perfect to add a pop of color to your walls.
      </h3>
    </div>
    <div class="col-sm-6 more-features-2-box wow fadeInLeft">
      <%= image_tag "lp_16x20_example_2.jpg", :title => "16x20" %>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-6 more-features-2-box wow fadeInLeft">
      <%= image_tag "lp_30x40_example.jpg", :title => "30x40" %>
    </div>
    <div class="col-sm-6 more-features-2-box more-features-2-box-right p-30 wow fadeInUp">
      <h2>$159 - 30x40" canvas art</h2>
      <h3>
        This size is good for all spaces and can be used to build a gallery
        wall. This size is also perfect to add a pop of color to your walls.
      </h3>
    </div>
  </div>
</div>

<!-- Start a Project -->
<div class="start-project-form-container section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 testimonials section-description wow fadeIn">
        <h2>Start a Project</h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 contact-box">
        <div class="contact-bottom">
          <%= form_for @project_request do |f| %>

            <div class="form-group">
              <%= f.label :name, "Name:" %>
              <%= f.text_field :name, placeholder: "Your name...", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :email, "Email:" %>
              <%= f.text_field :email, placeholder: "Your email address...", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :phone, "Phone:" %>
              <%= f.text_field :phone, placeholder: "Your phone number...", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :size, "Canvas Size:" %>
              <%= f.select :size, grouped_options_for_select(ProjectRequest::SIZE_OPTIONS), { include_blank: true }, { class: "form-control" } %>
            </div>
            <%= f.button "Submit Request", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Subscribe -->
<div class="subscribe-container section-container section-container-gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 subscribe-title section-description wow fadeIn">
        <h2>Get Updates</h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
        <p>
        Enter your email address to get the latest updates about Merlot's Art
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 subscribe-box wow fadeInLeft">
        <div class="subscribe wow fadeInUp">
          <form class="form-inline" role="form" action="assets/subscribe.php" method="post">
            <div class="form-group">
              <label class="sr-only" for="subscribe-email">Email address</label>
              <input type="text" name="email" placeholder="Enter your email..." class="subscribe-email form-control" id="subscribe-email">
            </div>
            <button type="submit" class="btn">Subscribe</button>
          </form>
          <div class="success-message"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 footer-about wow fadeInUp">
        <h3>About Merlots Art</h3>
        <p>
        Create a one-of-a-kind masterpiece at our art &amp; wine studio or let us
        create one for you through our custom wall art services.
        </p>
        <p>
        <a class="scroll-link" href="#about-us">Learn More</a>
        </p>
      </div>
      <div class="col-sm-4 footer-contact-info wow fadeInDown">
        <h3>Contact Info</h3>
        <p><i class="fa fa-map-marker"></i> 1512 U Street NM, Washington, DC 20009</p>
        <p><i class="fa fa-phone"></i> Phone: (202) 810-5470</p>
        <p><i class="fa fa-envelope"></i> Email: <a href="mailto:hello@merlotsart.com">hello@merlotsart.com</a></p>
      </div>
      <div class="col-sm-3 footer-social wow fadeInUp">
        <h3>We're Social</h3>
        <p>
        <a href="https://www.facebook.com/MerlotsArt"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/merlotsart"><i class="fa fa-twitter"></i></a>
        <a href="https://instagram.com/merlotsart/"><i class="fa fa-instagram"></i></a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 footer-copyright">
        &copy; 2015-2016 Merlots Art
      </div>
      <div class="col-sm-6 footer-menu">
        <ul>
          <li><a class="scroll-link" href="#top-content">Top</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<!-- MODAL: How it works -->
<div class="modal fade" id="modal-how-it-works" tabindex="-1" role="dialog" aria-labelledby="modal-how-it-works-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-video">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/84910153?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ca8bdc"
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



