<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Message Sent From Contact Form</p>
    <p>Name: <%= @params[:name] %></p>
    <p>Email: <%= @params[:email] %></p>
    <p>Phone: <%= @params[:phone] %></p>
    <p>Best time to contact: <%= @params[:time] %></p>
    <p>Message: <%= @params[:message] %></p>
  </body>
</html>