<h3>Merlot's Art Event Reminder</h3>
Hi <%= @attendee.name.capitalize %>,

Name: <%= @public_event.name %><br>
Date: <%= @public_event.date.strftime("%A %B %d, %Y") %><br>
Time: <%= @public_event.start_time.strftime("%l:%M%P") %>-<%= @public_event.end_time.strftime("%l:%M%P") %><br>
Location: <%= @public_event.location.name %><br>
Address: <%= @public_event.location.address %>, <%= @public_event.location.city %>, <%= @public_event.location.state %> <%= @public_event.location.zip %><br>

<p>
  We look forward to painting with you tomorrow!   Here are a few things to know before attending:
</p>
<p>
  ARRIVAL TIME:  Please arrive to the studio 15 minutes before class.
</p>
<p>
  LATE POLICY:  If you arrive more than 20 minutes late, we can NOT guarantee an on-time completion of your artwork, as you may have missed important steps in the painting lesson.  You can reschedule for another class if you would like to participate in the full painting experience.  If you know you will be more than 20 minutes late, please email us at <a href="mailto:hello@merlotsart.com">hello@merlotsart.com</a> to reschedule.
</p>
<p>
  CAN I BRING SNACKS (U STREET STUDIO)? You are welcome to bring light snacks such as cheese, crackers and fruit, if you attending a class at our Studio at 1512 U Street NW, DC.
</p>
<p>
  RESCHEDULING & REFUNDS: We do not offer refunds.  If you would like to reschedule, please email us with your request at <a href="mailto:hello@merlotsart.com">hello@merlotsart.com</a> within 48 hours of this class.  If you are not able to attend class, you can transfer your ticket to another guest.
</p>
<p>
  WINE POLICY (U STREET STUDIO): Wine is available for purchase at our Studio at 1512 U Street NW, DC.  BYOB is not permitted at locations outside of our studio. If you would like to bring a bottle of wine to class and did not purchase the "Bring your own bottle" ticket option, you will be charged a $10 per bottle fee to bring in your own bottle.  Unfinished wine bottles must be left in the studio.  You must be 21 years and older to purchase and drink alcohol.  Please drink responsibly.
</p>
<p>
  PARKING (U STREET STUDIO):  We are in walking distance from the U Street metro station.  There are nearby parking garages near the U Street and 14th Street corridor and limited street parking.
</p>
<p>
  SEATING:  We do not reserve seating and it is available on a first come, first served basis.  Large groups are encouraged to arrive early to hold space for their guests.
</p>

Regards,
Merlot's Art
