<h1>Private Events</h1>
<%= link_to("+ Add New", new_admin_private_event_path) %>
<table>
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>Name</th>
    <th>Instructor</th>
    <th>Date</th>
    <th>Time</th>
    <th>Live</th>
    <th>Edit Details</th>
  </tr>
  <% @private_classes.each do |private_class| %>
    <tr>
      <td><%= private_class.id %></td>
      <td><%= private_class.status %></td>
      <td><%= private_class.name %></td>
      <td>
        <% if private_class.artist_id == nil %>
          Not assigned
        <% else %>
          <%= private_class.artist.name %>
        <% end %>
      </td>
      <td><%= private_class.date.strftime("%B %d, %Y") %></td>
      <td>
        <%= private_class.start_time.strftime("%l:%M %P") %>-<%= private_class.end_time.strftime("%l:%M %P") %>
      </td>
      <td><%= private_class.live %></td>
      <td>Edit Details</td>
    </tr>
  <% end %>
</table>