<div class="hero-landing private-events-header clearfix">
  <%= image_tag('private_events-hero.jpg', alt: 'hero image') %>
  <div class="hero-header clearfix">
  </div>
</div>

<div class="private-events-new clearfix">
  <div class="col-xs-12">
  </div>
  <div class="col-md-8">
    <div class="private-events-title">
      <h2>Book one of our artistic experiences</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="private-events-class-type">
          <%= image_tag('class_thumb_003.jpg', alt: 'Art Mimosas', class: 'img-responsive') %>
          <div class="center-row clearfix">
            <div class="center-left">
              <p>15-24 Guests for 3 Hours</p>
            </div>
            <div class="center-right">
              <p>$65/person</p>
            </div>
          </div>
          <div class="bottom-row">
            <h4>Portrait Art</h4>
            <p>
            Submit a photo to be transformed into a paint by numbers so you
            can create a custom portrait. Paint yourself, a pet, or a loved one.
            Includes: canvas, paint, artist guide, 1 glass of house wine.
            </p>
            <p>
            Includes: canvas, paint, artist, painting selection to recreate,
            BYOB fee included. Food options are available to create an
            all-inclusive package.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="private-events-class-type">
          <%= image_tag('class_thumb_002.jpg', alt: 'Art Mimosas', class: 'img-responsive') %>
          <div class="center-row clearfix">
            <div class="center-left">
              <p>15-24 Guests for 2 Hours</p>
              <!-- <p><em>offsite:</em> 25-40 Guests</p> -->
            </div>
            <div class="center-right">
              <p>$40+/person</p>
            </div>
          </div>
          <div class="bottom-row">
            <h4>Paint & Sip</h4>
            <p>
            Paint, sip, and paint some more while you learn how to receate an
            iconic work of art led by an experienced local artist. Offsite:
            25-40 people
            </p>
            <p>
            Includes: canvas, paint, artist, painting selection to recreate,
            BYOB fee included. Food options are available to create an
            all-inclusive package.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="private-events-class-type">
          <%= image_tag('class_thumb_004.jpg', alt: 'Art Mimosas', class: 'img-responsive') %>
          <div class="center-row clearfix">
            <div class="center-left">
              <p>15-24 Guests for 2 Hours</p>
            </div>
            <div class="center-right">
              <p>$35+/person</p>
            </div>
          </div>
          <div class="bottom-row">
            <h4>Art & Mimosas</h4>
            <p>
            Submit a photo to be transformed into a paint by numbers so you
            can create a custom portrait. Paint yourself, a pet, or a loved one.
            Includes: canvas, paint, artist guide, 1 glass of house wine.
            </p>
            <p>
            Includes: canvas, paint, artist, painting selection to recreate,
            BYOB fee included. Food options are available to create an
            all-inclusive package.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="private-events-class-type">
          <%= image_tag('class_thumb_001.jpg', alt: 'Art Mimosas', class: 'img-responsive') %>
          <div class="center-row clearfix">
            <div class="center-left">
              <p>15-24 Guests for 2 Hours</p>
            </div>
            <div class="center-right">
              <p>$35+/person</p>
            </div>
          </div>
          <div class="bottom-row">
            <h4>Art & Mimosas</h4>
            <p>
            Submit a photo to be transformed into a paint by numbers so you
            can create a custom portrait. Paint yourself, a pet, or a loved one.
            Includes: canvas, paint, artist guide, 1 glass of house wine.
            </p>
            <p>
            Includes: canvas, paint, artist, painting selection to recreate,
            BYOB fee included. Food options are available to create an
            all-inclusive package.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="licensee-application-form-wrapper">
      <h1>Request A Party</h1>
      <%= form_for @private_event, html: { multipart: true } do |f| %>
        <div class="form-group">
          <%= f.label :name, 'Name', class: 'required sr-only' %>
          <%= f.text_field :name, placeholder: 'Name (required)', required: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :phone, 'Phone number', class: 'required sr-only' %>
          <%= f.telephone_field :phone, required: true, placeholder: 'Phone Number', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email, 'Email address', class: 'required sr-only' %>
          <%= f.email_field :email, required: true, placeholder: 'Email Address', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :description, "What's the occassion?", class: 'required sr-only' %>
          <%= f.text_area :description, required: true, placeholder: 'Occasion? E.g. birthday party, corporate event, bridal shower, etc.', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :available_slots, 'Number of attendees', class: 'required sr-only' %>
          <%= f.number_field :available_slots, required: true, placeholder: 'Total Attendees (Minimum 15)', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :event_type, 'Event type', class: 'required sr-only' %>
          <%= f.select :event_type, [["Painting Party - 15-24 painters", "Painting Party"], ["Bring your own wine - 15-24 painters", "Bring your own wine"], ["Art & Mimosas - 15-22 painters", "Art & Mimosas"], ["Small off-site - 22-40 painters", "Small off-site"], ["Large off-site - 40+ painters", "Large off-site"], ["Off-site team building (we will email available options)", "Team building"]], {}, {class: 'form-control'}  %>
        </div>
        <div class="form-group">
          <div class="input-group">
            <%= f.label :date, class: 'input-group-addon' do %>
              <i class="fa fa-calendar"></i>
            <% end %>
            <%= f.text_field :date, placeholder: 'Event Date', required: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-6">
            <div class="input-group">
              <%= f.label :start_time, class: 'input-group-addon' do %>
                <i class="fa fa-clock-o"></i>
              <% end %>
              <%= f.text_field :start_time, placeholder: 'Start Time', required: true, class: 'form-control' %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <%= f.label :end_time, class: 'input-group-addon' do %>
                <i class="fa fa-clock-o"></i>
              <% end %>
              <%= f.text_field :end_time, placeholder: 'End Time', required: true, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
          <%= f.label :special_request, "Special requests?", class: 'sr-only' %>
          <%= f.text_area :special_request, placeholder: 'Please let us know about any special requests you have for your event.', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :how_hear, 'How did you hear about us?', class: 'required sr-only' %>
          <%= f.text_field :how_hear, required: true, placeholder: 'How did you hear about us?', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit 'Submit', id: 'licensee_application_form_submit', class: 'btn btn-block btn-experiences', data: {disable_with: 'Processing...'} %>
        </div>
        <p class="help-block">
          Merlot's Art will call to confirm your event
        </p>
      <% end %>
    </div>
  </div>
</div>

</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34552545-1', 'auto');
  ga('send', 'pageview');

</script>
