<div class="hero-landing clearfix">
  <%= image_tag('about-hero.jpg', alt: 'hero image') %>
  <div class="hero-header">
    <h1>Frequently Asked Questions</h1>
  </div>
</div>
<!--
<section>
  <h4>How do I reach customer service?</h4>
  <h4>How do I register for a class?</h4>
  <h4>Do I need to print my tickets?</h4>
  <h4>How do I reschedule for a class?</h4>
  <h4>What if I registered and did not receive an email confirmation?</h4>
  <h4>When should I expect to receive an answer to my email?</h4>
  <h4>Can I bring my own bottle?</h4>
  <h4>Why do I need to pay a BYOB fee if I’m bringing my own wine/ my bottle is twist-top?</h4>
  <h2>VOUCHERS (Groupon/Gift cards)</h2>
  <h4>How do I register with a Groupon/giftcard voucher?</h4>
  <h4>I bought a Groupon voucher for two people, how many tickets do I select when registering?</h4>
  <h2>PRIVATE PARTIES</h2>
  <h4>Can I book a private party with a Groupon voucher?</h4>
  <h4>Can I bring in my own wine?</h4>
  <h4>Where can I park?</h4>
  <h4>What happens if I am late?</h4>
</section>
 -->
<section class="first-about clearfix">
  <div>
    <h4>How do I reach customer service?</h4>
    <p>Most of our customer service is done by email, please email customer service at <a href="mailto:info@merlotsart.com?subject=Customer Service">info@merlotsart.com</a>. You can submit a request on our contact page or email us directly.  If you would like to speak with someone on the phone, please email us with the best phone number to reach you and a list of specific times slots you will be available. We will do their best to promptly assist you. </p>
    <h4>How do I register for a class?</h4>
    <p>Click the “CLASSES” link in the toolbar and click “REGISTER” to register for an available class.  Remember to correctly select the quantity in your party.</p>
    <h4>Do I need to print my tickets?</h4>
    <p>You do not need to print anything, but it’s always helpful to have your order details ready, if you have a smart phone device. </p>
    <h4>How do I reschedule for a class?</h4>
    <p>Email <a href="mailto:info@merlotsart.com?subject=Reschedule">info@merlotsart.com</a> or submit a request within 48 hours of your confirmed class with your name and the new class you would like to register for.  If you are a voucher holder, please include the voucher number. </p>
    <h4>What if I registered and did not receive an email confirmation?</h4>
    <p>Please check your spam or junk folders. If you still have not received it please Email us at <a href="mailto:info@merlotsart.com?subject=Confirmation">info@merlotsart.com</a> with your name and the date you are registered for and we will resend your confirmation. </p>
    <h4>When should I expect to receive an answer to my email?</h4>
    <p>We try to respond to requests within 24 hours, when we can. If you have not heard from us, it’s possible your initial email was not received. Please email us again at <a href="mailto:info@merlotsart.com">info@merlotsart.com</a>. </p>
    <h4>Can I bring my own bottle?</h4>
    <p>BYOB (Bring your own bottle) is only available at our Studio at 1512 U Street
    NW, DC. You can check the box to add the “Bring your own bottle” option to your ticket or you can pay onsite. <strong>This is a per bottle fee and it applies to both cork and twist-top bottles.</strong></p>
    <h4>Why do I need to pay a BYOB fee if I’m bringing my own wine/ my bottle is twist-top?</h4>
    <p>Excellent question! We sell wine here in the studio (check out our sip list), therefore, we do require that a BYOB corkage fee is paid in advance if you decide to bring your own, twist-top or not.</p>
    <h2>VOUCHERS (Groupon/Gift cards)</h2>
    <h4>How do I register with a Groupon/giftcard voucher?</h4>
    <p>f you are using a Groupon, daily deal or a gift certificate, check the “Groupon/Voucher” checkbox and click REGISTER.  You will be promoted to enter your voucher number during the checkout process.  Your checkout total should be $0, unless you have added the BYOB (bring your own bottle) option. </p>
    <h4>I bought a Groupon voucher for two people, how many tickets do I select when registering?</h4>
    <p>f you purchased a Groupon for two people, then you MUST select 2 tickets when registering.  If you have incorrectly selected the quantity, we may not be able to accommodate your party if we have a full class. </p>
    <h2>PRIVATE PARTIES</h2>
    <h4>Can I book a private party with a Groupon voucher?</h4>
    <p>No, you may not use a Groupon for private parties.</p>
    <h4>Can I bring in my own wine?</h4>
    <p>Yes, but you must purchase a BYOB ticket option or pay a $10 BYOB fee when you arrive at the studio. </p>
    <h4>Where can I park?</h4>
    <p>Merlot’s Masterpiece does not have a parking lot, there is limited street parking available. We suggest that you arrive at least 15 minutes before your class so you can find parking. There is a parking garage located on the corner of 14th St. & U St. </p>
    <h4>What happens if I am late?</h4>
    <p>If you expect to be 20 minutes or more late to a class, <strong>we suggest you email the studio at <a href="mailto:info@merlotsart.com">info@merlotsart.com</a> to reschedule.</strong>  We do not provide refunds. If you expect to be less than 20 minutes late, our artists will the best to catch you up.  Please remember, it is very difficult to catch people up when they are late, as artists are well into the instruction, and it is unfair to the rest of the class. Please try your best to be on time.</p>
  </div>
</section>

<section class="fourth-about clearfix">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <%= image_tag('bottles.jpg', alt: 'wine bottle image') %>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <%= image_tag('paintbucket.jpg', alt: 'paint bucket image') %>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <%= image_tag('painters.jpg', alt: 'painters image') %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= image_tag('instructor.jpg', alt: 'instructor image') %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= image_tag('pouringwine.jpg', alt: 'pouring wine image') %>
  </div>
</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34552545-1', 'auto');
  ga('send', 'pageview');

</script>