<nav class="navbar navbar-main navbar-fixed-top container">
  <div class="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="glyphicon glyphicon-menu-hamburger"></i>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag('merlotsart_logo_white.png', alt: 'Merlots Art', class: 'merlots-logo-white')%>
        <%= image_tag('merlotsart_logo_color.png', alt: 'Merlots Art', class: 'merlots-logo-color', style: 'display:none;')%>
      <% end %>
    </div>

    <div class="collapse navbar-collapse container" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to('New! Wall Art Services', wall_art_services_path, class: 'licensee-link') %></li>
        <li><%= link_to('Classes', experiences_path(month: Date.today.month))  %></li>
        <li><%= link_to('Private Events', new_private_event_path)  %></li>
        <li><%= link_to('Partner With Us', pages_path(page: 'partner'), class: 'footer-nav-mobile')  %><li />
        <li><%= link_to('Privacy Policy', pages_path(page: 'privacy_policy'), class: 'footer-nav-mobile') %><li />
        <li><%= link_to('Terms Of Service', pages_path(page: 'terms'), class: 'footer-nav-mobile') %><li />
        <%# if user_signed_in? %>
          <li>
          <%#= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </li>
        <%# else %>
          <li>
          <%#= link_to('Login', new_user_session_path)  %>
          </li>
        <%# end %>
        <li></li>
      </ul>
    </div>
  </div>
</nav>
